@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_layout.cshtml";
}

    <!-- About Us Section -->
    <div class="about-us">
        <div class="container">
            <!-- About Us -->
            <div class="row mt-5 border-1 border-bottom border-secondary pb-4">
                <div class="col-md-6">
                    <h2 class="about-us-line">About Us</h2>
                    <p class="about-us-text">
                        Welcome to the Graduation Project Store, a dedicated platform for
                        preserving and showcasing all graduation projects from Zagazig
                        University across all colleges...
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="@Url.Content("~/about.png")" class="w-100" alt="about-img" />
                </div>
            </div>

            <!-- Our Mission -->
            <div class="row mt-5 border-1 border-bottom border-secondary pb-4">
                <div class="col-md-6">
                    <img src="@Url.Content("~/rb_21094.png")" class="w-75" alt="about-img" />
                </div>
                <div class="col-md-6">
                    <h2 class="about-us-line">Our Mission</h2>
                    <p class="about-us-text">
                        Our mission is to provide a comprehensive digital archive...
                    </p>
                </div>
            </div>

            <!-- Our Vision -->
            <div class="row mt-5 pb-4">
                <div class="col-md-6">
                    <h2 class="about-us-line">Our Vision</h2>
                    <p class="about-us-text">
                        We envision a future where every graduation project from Zagazig
                        University becomes part of a rich legacy...
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="@Url.Content("~/vison.jpg")" class="w-100" alt="about-img" />
                </div>
            </div>
        </div>
    </div>

